@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    background-color: #f2f2f2;
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}

.pie {
    width: 100%;
    border: 1px solid #222;
    background-color: rgb(211, 211, 211);
    margin-top: 100px;
}
.pie p {
    text-align: center;
    margin: 1%;
}
.pie p:hover {
    color: red;
}


#contenedor{
    background-color: #fff;
    width: 640px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
padding: 20px;
    z-index: -1;
    box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.14), 0 -3px 5px -3px rgba(0, 0, 0, 0.12), 0 2px 2px -5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

  #contenedor:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }

#info{
    background-color: #fff;
    overflow-y: auto;
}
#info{
    width: 600px;
    display: block;
    margin: 0 auto;
}



#titulo{
    display: block;
    height: 100px;
    margin: 0 auto;
}


svg text::selection {
    background: none;
}

svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


.asiento{
	fill: white;
}

.select{
	fill: #00bf00;
}



.ocupado{
	fill: red;
}

svg{
    display: block;
    width: 600px;
    background-color: #fff;
    margin: 0 auto;
}

.button {
    position: relative;
    background-color: #4db6ac;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 8px;
    width: 85px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-left: 3px;
    height: 30px;
}

.button:after {
    content: "";
    background: #b4dbd7;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


#comprar{
    width: 95px;
    height: 40px;
    padding: 6px;
    font-size: 16px;
    background-color: #ef6c00 ;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 6px;
}

#comprar:hover{
    background-color:#fb8c00;

}
#comprar{
    position: relative;

        left: 50%;
        margin-left: -100px;
        bottom: 0px;

}

label{
    margin-left: 20px;
}

ul{
    height: 100px;
}

.botonAtras{
    width: 40px;
    margin: 5px;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
}


@media (max-width: 950px) {

    #titulo{
        height: 70px;
    }
}

@media (max-width: 700px) {


    #contenedor{
        width: 350px;
        margin-top: 5px;
        padding: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #info{
        width: 350px;
        height: 100px;

    }

    svg{
        width: 350px;
        background-color: #fff;
        margin-bottom: 3px;
    }
.pie{
    margin-top: 5px;
}



.botonAtras{
    width: 30px;
    margin: 3px;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
}




}