*{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    background-color: lightgray;
    min-height: 100%;
    margin: 0;
}




svg text::selection {
    background: none;
}

svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


.asiento{
	fill: white;
}

.select{
	fill: #00bf00;
}

.nolibre{
	fill: red;
}

svg{
    width: 600px;
    background-color: #fff;
}

@media (max-width: 700px) {


    svg{
        width: 100%;
        background-color: #fff"
    }

}